<div>
  <button (click)="addImage()">Image</button>
  <button (click)="addHeading('h1')">H1</button>
  <button (click)="addHeading('h2')">H2</button>
  <button (click)="addHeading('h3')">H3</button>
  <button (click)="addLink()">Hyperlink</button>
  <button (click)="undoLastChange()" [disabled]="_lastChange == null">Undo</button>
  <button (click)="clearAllContent()">Clear All</button>
</div>

<div *ngIf="viewContent">
  <div *ngIf="_insertType == 'image'">
    <div class="row">
      <h3>Image</h3>
    </div>
    <div class="row">
      <label>Alt Text:
        <input #altTextInput type="text">
      </label>
    </div>
    <div class="row">
      <app-file-upload
        [viewContent]="viewContent"
        (fileChanged)="imageSelected($event)"></app-file-upload>
    </div>
    <div class="row">
      <button (click)="insertImage(altTextInput)">Insert</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>

  <div *ngIf="_insertType == 'heading'">
    <div class="row">
      <h3>Heading {{_headingType}}</h3>
    </div>
    <div class="row">
      <label>Heading Text
        <input #hTextInput type="text">
      </label>
    </div>
    <div class="row">
      <button (click)="insertHeading(hTextInput)">Insert</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>

  <div *ngIf="_insertType == 'link'">
    <div class="row">
      <h3>Hyperlink</h3>
    </div>
    <div class="row">
      <label>Link Text
        <input #linkTextInput type="text">
      </label>
      <label>Link To
        <input #linkHrefInput type="text">
      </label>
    </div>
    <div class="row">
      <button (click)="insertLink(linkTextInput, linkHrefInput)">Insert</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>

<div
  *ngIf="viewContent && viewOnly == false"
  #textareaInput
  contenteditable="true"
  (click)="updateCursorPosition()"
  (change)="updateCursorPosition()"
  (keyup)="updateCursorPosition()"
  [id]="itemAttributes != null && itemAttributes.id != null ? itemAttributes.id : 'wysiwyg-input'"
  [class]="(itemAttributes != null && itemAttributes.class != null ? itemAttributes.attributes.class : '') + ' input'"
  [attr.data-required]="itemAttributes.required != null && itemAttributes.required ? true : false"
  appFormControl>
</div>

<div
  *ngIf="viewContent == false || viewOnly"
  class="input">
</div>