<ng-container *ngIf="itemStructure.attributes != null">
  <br *ngIf="itemStructure.input_type == 'textarea'">
  <label>{{itemName | title}} {{itemStructure.attributes.required == "required" ? '*' : ''}}
    <ng-container *ngIf="itemStructure.type != 'html'">
      <input
        *ngIf="(itemStructure.input_type == null || itemStructure.input_type == 'input') && itemStructure.attributes.type != 'file'"
        [type]="itemStructure.attributes.type != null ? itemStructure.attributes.type : text"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)"
        [disabled]="viewOnly">

      <textarea
        *ngIf="itemStructure.input_type == 'textarea'"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)"
        [disabled]="viewOnly">
      </textarea>

      <ng-container *ngIf="itemStructure.input_type != null && itemStructure.input_type == 'select'">
        <select
          *ngIf="viewOnly == false"
          [(ngModel)]="itemContent"
          (change)="contentChanged($event)">
          <ng-container *ngIf="itemStructure.attributes != null && itemStructure.attributes.options != null">
            <option
              *ngFor="let option of itemStructure.attributes.options"
              [value]="option"
              [selected]="itemContent != null && viewContent != false && option == itemContent">
              {{option | title}}
            </option>
          </ng-container>
        </select>
        <input
          *ngIf="viewOnly"
          [value]="itemContent"
          disabled="true">
      </ng-container>
    </ng-container>
  </label>
  <app-wysiwyg-html
    *ngIf="itemStructure.type == 'html'"
    [viewContent]="viewContent"
    [viewOnly]="viewOnly"
    [itemContent]="itemContent"
    (wysiwygContentChanged)="contentChanged($event)"></app-wysiwyg-html>
  <app-file-upload
    *ngIf="itemStructure.attributes.type == 'file'"
    [viewOnly]="viewOnly"
    [viewContent]="viewContent"
    [(itemContent)]="itemContent"
    (fileChanged)="contentChanged($event)">
  </app-file-upload>
</ng-container>