<app-cms-navigation
	(requestToChangeView)="changeView($event)"></app-cms-navigation>
<div class="row">
	<app-content-view
		*ngIf="_view == 'content'"
		[userAccessLevel]="userAccessLevel"
		[customCss]="customCss"
		[projectStructure]="projectStructure"
		[(projectContent)]="projectContent"
		(viewRequestToSaveContent)="viewRequestToSaveContent($event)"
		(viewRequestToResetContent)="viewRequestToResetContent()">
	</app-content-view>

	<app-settings-view
		*ngIf="_view == 'settings'"
		[(projectSettings)]="projectSettings"
		(settingsUpdated)="viewRequestToRefreshSettings($event)"
		(viewRequestToRefreshSettings)="viewRequestToRefreshSettings($event)">
	</app-settings-view>
</div>
