nav {
    clear: both;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding: 1%;
    background-color: #0a2f42;
    color: #fff;
    text-align: center;
    flex: 1;
    margin-right: 5px;
}