<app-cms-admin
    *ngIf="accessLevel == 1"
    [(projectContent)]="projectContent"
    [(projectStructure)]="projectStructure"
    (adminRequestToSaveStructure)="saveProjectStructure($event)"
    (adminRequestToResetStructure)="resetProjectStructure()"
    (adminRequestToSaveContent)="saveProjectContent()"
    (adminRequestToResetContent)="resetProjectContent()"
    (saveContent)="saveProjectContent($event)">
</app-cms-admin>
<app-cms-editor
    *ngIf="accessLevel == 2"
    [(projectContent)]="projectContent"
    [projectStructure]="projectStructure">
</app-cms-editor>