<app-cms-admin
    *ngIf="accessLevel == 1"
    [(projectStructure)]="projectStructure"
    [(projectContent)]="projectContent"
    [projectStructureHistory]="projectStructureHistory"
    [projectContentHistory]="projectContentHistory"
    [(projectSettings)]="projectSettings"
    (adminRequestToSaveStructure)="saveProjectStructure($event)"
    (adminRequestToResetStructure)="resetProjectStructure()"
    (adminRequestToSaveContent)="saveProjectContent($event)"
    (adminRequestToResetContent)="resetProjectContent()">
</app-cms-admin>
<app-cms-editor
    *ngIf="accessLevel == 2"
    [(projectContent)]="projectContent"
    [projectStructure]="projectStructure">
</app-cms-editor>