<app-header
    [user]="user"
    [pageTitle]="pageTitle"
    (requestToLogout)="logout()"
    [class]="user != null ? 'loggedIn' : 'loggedOut'"></app-header>

    <app-cms 
        *ngIf="user != null"
        (requestToUpdatePageTitle)="updatePageTitle($event)"
        (loginRequired)="loginRequired($event)">
    </app-cms>
<app-footer
    [class]="user != null ? 'loggedIn' : 'loggedOut'"></app-footer>
<app-timeout
    *ngIf="sessionMinutesRemaining > -1 && (sessionExpired || _sessionWarningDismissed == false)"
    (requestToDismissWarning)="requestToDismissTimeoutWarning()"
    [minutesRemaining]="sessionMinutesRemaining"
    [sessionExpired]="sessionExpired">
</app-timeout>
