<app-header [user]="_user"></app-header>
    <ng-container *ngIf="_userId == null">
        <button (click)="simulateLogin()">Google Login</button>
    </ng-container>

    <ng-container *ngIf="_userId != null && _projectId == null">
        list of projects
        <button (click)="simulateProject()">Project 1</button>
    </ng-container>

    <ng-container *ngIf="_userId != null && _projectId != null">
        <app-cms [projectId]="_projectId" [userId]="_userId"></app-cms>
    </ng-container>
<app-footer></app-footer>
