<div class="col-6-12">
  <h2>Project Structure</h2>
  <app-code-editor
    [codeJson]="projectStructureJson"
    (codeUpdated)="codeUpdated($event)"
    (requestToResetProjectStructure)="resetProjectStructure()"
    (requestToSaveProjectStructure)="saveProjectStructure()">
  </app-code-editor>
</div>
<div class="col-6-12">
  <h2>Input Preview</h2>
  <div *ngIf="projectStructure != null">
    <app-content-editor
      [viewContent]="false"
      [viewOnly]="false"
      [projectStructure]="projectStructure"
      (structureCollectionTabsReordered)="structureCollectionTabsReordered($event)">
    </app-content-editor>
  </div>
</div>