<div *ngIf="projectStructure != null">
  <div *ngIf="viewContent && viewOnly == false" class="row">
    <button (click)="saveProjectContent()">Save</button>
    <button (click)="resetProjectContent()">Reset</button>
  </div>

  <div class="row">
    <div class="col-2-12">
        <div *ngIf="projectStructure != null">
          <app-draggable-container
            [content]="projectStructure"
            [contentEncapsulationPath]=""
            [contentType]="object"
            (contentReordered)="collectionTabsReordered($event)">
            <ng-container *ngFor="let collection of projectStructure | keyValArray : 'keys'">
              <div *ngIf="userAccessLevel <= 2 || projectStructure[collection].no_access == null || (projectStructure[collection].no_access != null && projectStructure[collection].no_access.indexOf(userAccessLevel) < 0)"
                [draggable]="viewContent == false"
                [attr.data-key]="collection"
                (click)="viewCollection(collection)"
                [class]="(collection === currentCollectionName ? 'active ' : '')  + 'collectionTab'">{{collection | title}}
              </div>
            </ng-container>
          </app-draggable-container>
        </div>
    </div>
    <div class="col-10-12">
      <ng-container *ngIf="currentCollectionName != null && (userAccessLevel <= 2 || projectStructure[currentCollectionName].no_access == null || (projectStructure[currentCollectionName].no_access != null && projectStructure[currentCollectionName].no_access.indexOf(userAccessLevel) < 0))">
        <h2>{{currentCollectionName | title}}</h2>
        <app-collection
          [userAccessLevel]="userAccessLevel"
          [topLevelCollection]="true"
          [encapsulationPath]="currentCollectionName"
          [collection]="currentCollectionName"
          [projectContent]="projectContent"
          [projectStructure]="projectStructure"
          [viewContent]="viewContent"
          [viewOnly]="viewOnly"
          (contentChanged)="projectContentChanged($event)">
        </app-collection>
      </ng-container>
    </div>
  </div>
</div>
