<div
  *ngIf="_warning != null">{{_warning}}</div>
<input
  *ngIf="viewOnly == false"
  #fileInput
  type="file"
  [id]="itemAttributes != null && itemAttributes.id != null ? itemAttributes.id : ''"
  [class]="itemAttributes != null && itemAttributes.class != null ? itemAttributes.attributes.class : ''"
  (change)="fileInputChanged(fileInput)"
  [required]="itemAttributes.required != null && itemAttributes.required ? true : false"
  appFormControl>
<button
  *ngIf="viewOnly == false" 
  (click)="showMediaItemGallery()">Select Image</button>
<img
  *ngIf="viewContent && itemContent != null"
  [src]="itemContent">

<app-media-item-gallery
    *ngIf="_mediaItemGalleryVisible"
    [numItemsPerPage]=9
    [numItemsPerRow]=3
    (closeButtonClicked)="hideMediaItemGallery()"
    (mediaItemSelected)="mediaItemSelected($event)">
</app-media-item-gallery>