<div
  *ngIf="_warning != null">{{_warning}}</div>
<span *ngIf="_contentError != null && _contentError.length > 0" class="error">
  {{_contentError}}
</span>
<input
  *ngIf="viewOnly == false"
  #fileInput
  type="file"
  [id]="itemAttributes != null && itemAttributes.id != null ? itemAttributes.id : ''"
  [class]="'fileInput' + (itemAttributes != null && itemAttributes.class != null ? ' ' + itemAttributes.attributes.class : '')"
  (change)="fileInputChanged(fileInput)"
  [attr.data-required]="itemAttributes != null && itemAttributes.required != null && itemAttributes.required ? true : false"
  [attr.data-name]="encapsulationPath"
  appFormControl>
<button
  *ngIf="viewOnly == false" 
  (click)="showMediaItemGallery()">Select Image</button>
<img
  *ngIf="viewContent && itemContent != null"
  [src]="itemContent">

<app-media-item-gallery
    *ngIf="_mediaItemGalleryVisible"
    [numItemsPerPage]=9
    [numItemsPerRow]=3
    (closeButtonClicked)="hideMediaItemGallery()"
    (mediaItemSelected)="mediaItemSelected($event)">
</app-media-item-gallery>