<ng-container *ngIf="projectStructure != null && projectStructure[collection] != null">
  <ng-container *ngIf="projectStructure[collection] != null && projectStructure[collection].items == null">
    <app-collection-item
      [itemName]="collection"
      [itemStructure]="projectStructure[collection]"
      [itemContent]="projectContent != null ? projectContent[collection] : null"
      [viewContent]="viewContent">
    </app-collection-item>
  </ng-container>
  
  <ng-container *ngIf="projectStructure[collection] != null && projectStructure[collection].items != null">
    
    <ng-container *ngIf="projectStructure[collection].type == 'object'">
      <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
        <app-collection
          [collection]="collectionItemName"
          [projectStructure]="projectStructure[collection].items"
          [projectContent]="projectContent != null && projectContent[collection] != null ? projectContent[collection] : null"
          [viewContent]="viewContent">
        </app-collection>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="projectStructure[collection].type == 'array'">
      <ng-container *ngIf="projectContent != null && projectContent[collection] != null && viewContent">
        <label>{{topLevelCollection ? '' : collection}}--Laura
          <div [class]="topLevelCollection ? 'collection' : 'subCollection'">
            <ng-container *ngFor="let index of projectContent[collection] | keyValArray : 'keys'">
              <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
                <app-collection
                  [collection]="collectionItemName"
                  [projectStructure]="projectStructure[collection].items"
                  [projectContent]="projectContent[collection][index]"
                  [viewContent]="viewContent">
                </app-collection>
              </ng-container>
            </ng-container>
          </div>
        </label>
      </ng-container>

      <ng-container *ngIf="projectContent == null || projectContent[collection] == null || viewContent == false">

        <label>{{topLevelCollection ? '' : collection}}
          <div [class]="topLevelCollection ? 'collection' : 'subCollection'">
            <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
              <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type != 'object' && projectStructure[collection].items[collectionItemName].type != 'array'">
                <div>
                  <app-collection
                    [collection]="collectionItemName"
                    [projectStructure]="projectStructure[collection].items"
                    [viewContent]="viewContent">
                  </app-collection>
                </div>
              </ng-container>
              
              <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type == 'object'">
                {{topLevelCollection ? '' : collectionItemName}}
                <div [class]="topLevelCollection ? 'collection' : 'subCollection'">
                  <app-collection
                    [collection]="collectionItemName"
                    [projectStructure]="projectStructure[collection].items"
                    [viewContent]="viewContent">
                  </app-collection>
                </div>
              </ng-container>

              <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type == 'array'">
                <app-collection
                  [collection]="collectionItemName"
                  [projectStructure]="projectStructure[collection].items"
                  [viewContent]="viewContent">
                </app-collection>
              </ng-container>
            </ng-container>
          </div>
        </label>

      </ng-container>

    </ng-container>

  </ng-container>
</ng-container>
