<ng-container *ngIf="itemStructure.attributes != null">
    <br *ngIf="itemStructure.input_type == 'textarea'">
    <label>{{itemName}} {{itemStructure.attributes.required == "required" ? '*' : ''}}
      <input
        *ngIf="(itemStructure.input_type == null || itemStructure.input_type == 'input') && itemStructure.type != 'html'"
        [type]="itemStructure.attributes.type != null ? itemStructure.attributes.type : text"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)">
        <img
          *ngIf="itemStructure.attributes.type == 'file' && viewContent && itemContent != null"
          [src]="itemContent">
      <textarea
        *ngIf="itemStructure.input_type == 'textarea' || itemStructure.type == 'html'"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)">
      </textarea>
      <select
        *ngIf="itemStructure.input_type != null && itemStructure.input_type == 'select'"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)">
        <ng-container *ngIf="itemStructure.attributes != null && itemStructure.attributes.options != null">
          <option
            *ngFor="let option of itemStructure.attributes.options"
            [selected]="itemContent != null && viewContent != false && option == itemContent">
            {{option}}
          </option>
        </ng-container>
      </select>
    </label>
  </ng-container>