img {
    width: 100px;
    min-height: 80px;
    height: auto;
    vertical-align: top;
    border: 1px solid black;
}
textarea {
    width: 100%;
}
input, textarea {
    border: 1px solid #777;
}

[disabled] {
    background-color: initial !important;
    color: initial !important;
}