<ng-container *ngIf="itemStructure.attributes != null">
  <br *ngIf="itemStructure.input_type == 'textarea'">
  <label>{{itemName | title}} {{itemStructure.attributes.required == "required" ? '*' : ''}}

    <ng-container *ngIf="itemStructure.input_type == null || itemStructure.input_type == 'input'">
      <input
        *ngIf="itemStructure.type != 'html' && itemStructure.attributes.type != 'file'"
        [type]="itemStructure.attributes.type != null ? itemStructure.attributes.type : text"
        [(ngModel)]="itemContent"
        (change)="contentChanged($event)">
      
      <ng-container *ngIf="itemStructure.attributes.type == 'file'">
        <input
          type="file"
          class="hi"
          (change)="fileInputChanged($event)">
        <span
          *ngIf="_warning != null">{{_warning}}</span>
        <img
          *ngIf="viewContent && itemContent != null"
          [src]="itemContent">
        <button 
          (click)="viewAvailableMediaItems()">Select Image</button>
      </ng-container>
    </ng-container>

    <textarea
      *ngIf="itemStructure.input_type == 'textarea' || itemStructure.type == 'html'"
      [(ngModel)]="itemContent"
      (change)="contentChanged($event)">
    </textarea>

    <select
      *ngIf="itemStructure.input_type != null && itemStructure.input_type == 'select'"
      [(ngModel)]="itemContent"
      (change)="contentChanged($event)">
      <ng-container *ngIf="itemStructure.attributes != null && itemStructure.attributes.options != null">
        <option
          *ngFor="let option of itemStructure.attributes.options"
          [value]="option"
          [selected]="itemContent != null && viewContent != false && option == itemContent">
          {{option | title}}
        </option>
      </ng-container>
    </select>
  </label>
</ng-container>