<div class="row">
	<div class="col-6-12">
		<h2>Project Structure</h2>
		<textarea
			*ngIf="projectStructure != null"
			[(ngModel)]="projectStructurePreview">
		</textarea>
		<button (click)="formatStructureJson()">Format JSON</button>
		<button (click)="resetProjectStructure()">Reset</button>
	</div>
	<div class="col-6-12">
		<h2>Project Content</h2>
		<div *ngIf="projectStructurePreview != null">
			<app-content-editor
				[viewContent]="true"
				[projectContent]="projectContent"
				[projectStructure]="projectStructurePreview | customJson:'parse'">
			</app-content-editor>
		</div>
	</div>
</div>
