<div class="row">
	<nav>
		<ul>
			<li (click)="changeView('structure')">View as Admin</li>
			<li (click)="changeView('content')">View as Collaborator</li>
			<li (click)="changeView('history')">Project History</li>
			<li (click)="changeView('settings')">Project Settings</li>
		</ul>
	</nav>
</div>
<div class="row">
	<app-structure-view
		*ngIf="_view == 'structure'"
		[projectStructure]="projectStructure"
		(viewRequestToSaveStructure)="viewRequestToSaveStructure($event)"
		(viewRequestToResetStructure)="viewRequestToResetStructure()">
	</app-structure-view>

	<app-content-view
		*ngIf="_view == 'content'"
		[projectStructure]="projectStructure"
		[(projectContent)]="projectContent"
		(viewRequestToSaveContent)="viewRequestToSaveContent($event)"
		(viewRequestToResetContent)="viewRequestToResetContent()">
	</app-content-view>

	<app-history-view
		*ngIf="_view == 'history'"
		[projectStructureHistory]="projectStructureHistory"
		[projectContentHistory]="projectContentHistory"
		(viewRequestToSaveStructure)="viewRequestToSaveStructure($event)"
		(viewRequestToSaveContent)="viewRequestToSaveContent($event)">
	</app-history-view>

	<app-settings-view
		*ngIf="_view == 'settings'">
	</app-settings-view>
</div>