<div class="row">
	<div class="col-6-12">
		<h2>Project Structure</h2>
		<textarea
			*ngIf="projectStructure != null"
			[(ngModel)]="projectStructureJson">
		</textarea>
		<button (click)="formatStructureJson()">Format JSON</button>
		<button (click)="resetProjectStructure()">Reset</button>
		<button (click)="saveProjectStructure()">Save</button>
	</div>
	<div class="col-6-12">
		<h2>Project Content</h2>
		<button (click)="saveProjectContent()">Save</button>
		<div *ngIf="projectStructure != null">
			<app-content-editor
				[viewContent]="true"
				[(projectContent)]="projectContent"
				[projectStructure]="projectStructure">
			</app-content-editor>
		</div>
	</div>
</div>
