<h3 *ngIf="subCollection">{{collection | title}}</h3>
<br *ngIf="projectStructure != null && (projectStructure[collection] != null && (projectStructure[collection].input_type == 'textarea' || projectStructure[collection].type == 'html'))">
<div [class]="subCollection ? 'subCollection ' + collection : 'inline'">
  <ng-container *ngIf="projectStructure != null && projectStructure[collection] != null">
    <ng-container *ngIf="projectStructure[collection] != null && projectStructure[collection].items == null && encapsulationPath != null">
      <app-collection-item
        [class]="encapsulationPath.split('/').join(' ')"
        [encapsulationPath]="encapsulationPath"
        [itemName]="collection"
        [itemStructure]="projectStructure[collection]"
        [itemContent]="projectContent != null && projectContent[collection] != null ? projectContent[collection] : null"
        [viewContent]="viewContent"
        [viewOnly]="viewOnly"
        (itemContentChanged)="collectionContentChanged($event)">
      </app-collection-item>
    </ng-container>
    
    <ng-container *ngIf="projectStructure[collection] != null && projectStructure[collection].items != null">
      
      <ng-container *ngIf="projectStructure[collection].type == 'object'">
        <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
          <app-collection
            [encapsulationPath]="encapsulationPath + '/' + collectionItemName"
            [subCollection]="projectStructure[collection].items[collectionItemName].type == 'object' || projectStructure[collection].items[collectionItemName].type == 'array'"
            [collection]="collectionItemName"
            [projectStructure]="projectStructure[collection].items"
            [projectContent]="projectContent != null && projectContent[collection] != null ? projectContent[collection] : null"
            [viewContent]="viewContent"
            [viewOnly]="viewOnly"
            (itemContentChanged)="itemContentChanged($event)"
            (contentChanged)="collectionContentChanged($event)">
          </app-collection>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="projectStructure[collection].type == 'array'">
        <ng-container *ngIf="projectContent != null && projectContent[collection] != null && viewContent">
          <app-draggable-container
            [content]="projectContent[collection]"
            [contentEncapsulationPath]="encapsulationPath"
            [contentType]="projectStructure[collection].type"
            (contentReordered)="collectionContentChanged($event)">
            <ng-container *ngFor="let index of projectContent[collection] | keyValArray : 'keys'">
              <div
                class="collection"
                [draggable]="viewOnly == false"
                [attr.data-key]="index">
                <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
                  <app-collection
                    *ngIf="projectContent[collection][index] != null"
                    [subCollection]="projectStructure[collection].items[collectionItemName].type == 'array'"
                    [encapsulationPath]="encapsulationPath + '/' + index + '/' + collectionItemName"
                    [collection]="collectionItemName"
                    [projectStructure]="projectStructure[collection].items"
                    [projectContent]="projectContent[collection][index] != null ? projectContent[collection][index] : null"
                    [viewContent]="viewContent"
                    [viewOnly]="viewOnly"
                    (itemContentChanged)="collectionContentChanged($event)"
                    (contentChanged)="collectionContentChanged($event)">
                  </app-collection>
                </ng-container>
                <button
                  *ngIf="viewOnly == false"
                  (click)="deleteItem(collection, index)">Delete</button>
              </div>
            </ng-container>
          </app-draggable-container>
        </ng-container>

        <ng-container *ngIf="(projectContent == null || projectContent[collection] == null || viewContent == false) && projectStructure[collection].type != 'array'">
          <ng-container *ngFor="let collectionItemName of projectStructure[collection].items | keyValArray : 'keys'">
            <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type != 'object' && projectStructure[collection].items[collectionItemName].type != 'array'">
                <app-collection
                  [encapsulationPath]="projectStructure[collection].type == 'array' ? encapsulationPath + '/0/' + collectionItemName : encapsulationPath + '/' + collectionItemName"
                  [collection]="collectionItemName"
                  [projectStructure]="projectStructure[collection].items"
                  [viewContent]="viewContent"
                  [viewOnly]="viewOnly"
                  (itemContentChanged)="collectionContentChanged($event)"
                  (contentChanged)="collectionContentChanged($event)">
                </app-collection>
            </ng-container>
            
            <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type == 'object'">
              <app-collection
                [encapsulationPath]="encapsulationPath + '/' + collectionItemName"
                [subCollection]="true"
                [collection]="collectionItemName"
                [projectStructure]="projectStructure[collection].items"
                [viewContent]="viewContent"
                [viewOnly]="viewOnly"
                (itemContentChanged)="collectionContentChanged($event)"
                (contentChanged)="collectionContentChanged($event)">
              </app-collection>
            </ng-container>

            <ng-container *ngIf="projectStructure[collection].items[collectionItemName].type == 'array'">
              <app-collection
                [encapsulationPath]="encapsulationPath + '/0/' + collectionItemName"
                [subCollection]="true"
                [collection]="collectionItemName"
                [projectStructure]="projectStructure[collection].items"
                [viewContent]="viewContent"
                [viewOnly]="viewOnly"
                (itemContentChanged)="collectionContentChanged($event)"
                (contentChanged)="collectionContentChanged($event)">
              </app-collection>
            </ng-container>
          </ng-container>
        </ng-container>

        <button
            *ngIf="viewOnly == false"
            (click)="addNewItem(encapsulationPath, projectStructure[collection])"> Add {{collection | title}}</button>
      </ng-container>

    </ng-container>
  </ng-container>
</div>